@{Layout = "_LayoutUser";}
@using AFCStudio.Models.Objects;
@model VDCompanyMVC.Models.Pages.ModelUserPrice;
<div class="content content-fixed">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="#">Личный кабинет</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Прайс лист</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">Прайс лист</h4>
            </div>
        </div>

        <div class=" ht-100p d-flex flex-column justify-content-between align-items-center">
            <div class="table-responsive">
                <table class="table table-primary table-hover table-striped mg-b-0">
                    <thead>
                        <tr>
                            <th scope="col">Название услуги</th>
                            <th scope="col">Минимальный тариф</th>
                            <th scope="col">Средний тариф</th>
                            <th scope="col">Максимальный тариф</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Price)
                        {
                            <tr id="@item.Id">
                                <td>@item.Name</td>
                                <td>@item.MinPrice</td>
                                <td>@item.MiddlePrice</td>
                                <td>@item.MaxPrice</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

