@{Layout = "_LayoutUser";}
@using AFCStudio.Models.Objects;
@model VDCompanyMVC.Models.Pages.ModelUserPrice;
<div class="content content-fixed">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="#">Личный кабинет</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Прайс лист</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">Прайс лист</h4>
            </div>
        </div>

        <div class=" ht-100p d-flex flex-column justify-content-between align-items-center">
            <div class="table-responsive">
                <table class="table table-bordered table-primary table-striped mg-b-0">
                    <thead>
                        <tr>
                            <th scope="col">Название услуги</th>
                            <th scope="col">Минимальный тариф</th>
                            <th scope="col">Средний тариф</th>
                            <th scope="col">Максимальный тариф</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Price)
                        {
                            <tr id="@item.Id">
                                <td>@item.Name</td>
                                <td onclick="AddService(@item.Id, @item.MinPrice, '@item.Name')" id="@item.MinPrice">@item.MinPrice</td>
                                <td onclick="AddService(@item.Id, @item.MiddlePrice, '@item.Name')" id="@item.MiddlePrice">@item.MiddlePrice</td>
                                <td onclick="AddService(@item.Id, @item.MaxPrice, '@item.Name')" id="@item.MaxPrice">@item.MaxPrice</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        



        <table class="table table-bordered table-primary table-striped mg-b-0 " style="visibility:hidden; margin-top:50px;" id="table">
            <tr>
                <th>
                    Услуги
                </th>
                <th>
                    Цена
                </th>
            </tr>
        </table>


        <button class="btn btn-outline-primary buttonpay" id="buttonhidden">Оплатить</button>
        <span class="price_all" id="price"></span>
        <div id="text"></div>
        <button class="btn btn-outline-primary buttonpay" id="buttonpayready" onclick="CreateService()">Я оплатил </button>


    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="~/spaceuser/assets/js/Price.js"></script>

<link rel="stylesheet" href="~/spaceuser/assets/css/Price.css" />

